body {
  background-image: url('https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=413d29f6051e59b9d2317d8d827c8279&auto=format&fit=crop&w=770&q=80');
  background-repeat: repeat;
  background-size: cover;
}

h1 {
  color: #d9c940;
  font-size: 80px;
  font-family: monospace;
  text-align: center;
  margin-top: 4%;
}

h2 {
  color: #d9c940;
  text-align: center;
  font-size: 50px;
}

h3 {
  color: #d9c940;
  text-align: center;
}

a {
  color: #d9c940;
  text-align: center;
}

p {
  color: #d9c940;
  text-align: center;
}

form {
  width: 20%;
  margin-top: 5%;
  margin-left: 40%;
  margin-right: 60%;
  text-align: center;

}

label {
  color: #d9c940;
}

.bg-dark {
  background-color: #000000!important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #d9c940;
}

.navbar-dark .navbar-brand {
  color: #d9c940;
  font-size: 30px;
}

.btn-block+.btn-block {
  background-color: black;
  margin-bottom: 3%;
}

.btn:not(:disabled):not(.disabled) {
  background-color: black;
  margin-bottom: 3%;
}

.btn-block+.btn-block:hover {
  background-color: #d9c940;
}

.btn:not(:disabled):not(.disabled):hover {
  background-color: #d9c940;
}

.input-group {
  margin-bottom: 5%;
  margin-top: 3%;
}

.form-control {
  background-color: black;
  color: #d9c940;
  border: 3px solid #d9c940;
}
.form-control:focus {
  background-color: black;
  color: #d9c940;
}

.input-group-text {
  background-color: #d9c940;
  color: black;
  border: 1px solid #d9c940;
}

input {
  background-color: black;
  border: 2px solid #d9c940;
  color: #d9c940;
}

.list-group-item {
  background-color: black;
  border: 1px solid #d9c940;
  color: #d9c940;
}

.list-group-item:active {
  background-color: #d9c940;
}

.list-group-item:hover {
  background-color: #d9c940;
}

ul {
  background-color: black;
  width: 100%;
}

.jumbotron-fluid {
  background-image: url('https://vignette.wikia.nocookie.net/phineasandferb/images/5/55/DeathStarPFStarWars.png/revision/latest?cb=20140628170900');
  background-repeat: repeat;
  background-size: cover;
}

.btn-outline-warning {
  color: #d9c940;
  border-color: #d9c940;
}

.page-footer {
  background-color: black;
}
