body {
  background-image: url('https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a8fcff3f457ee34c77fac59710270bc3&auto=format&fit=crop&w=1052&q=80');
  background-repeat: repeat;
  background-size: cover;
}

h1 {
  color: #d9c940;
  font-size: 50px;
  font-family: monospace;
  text-align: center;
  margin-top: 4%;
}

h2 {
  color: #d9c940;
  text-align: center;
}

h3 {
  color: #d9c940;
  text-align: center;
}

a {
  color: #d9c940;
  text-align: center;
}

p {
  color: #d9c940;
  text-align: center;
}

form {
  width: 20%;
  margin-top: 5%;
  margin-left: 40%;
  margin-right: 60%;
  text-align: center;

}

label {
  color: #d9c940;
}

.bg-dark {
  background-color: #000000!important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #d9c940;
}

.btn-block+.btn-block {
  background-color: black;
  margin-bottom: 3%;
}

.btn:not(:disabled):not(.disabled) {
  background-color: black;
  margin-bottom: 3%;
}

.input-group {
  margin-bottom: 5%;
  margin-top: 3%;
}

.input-group-text {
  background-color: black;
  color: #d9c940;
  border: 1px solid #d9c940;
}

input {
  background-color: black;
  border: 1px solid #d9c940;
  color: #d9c940;
}

.list-group-item {
  background-color: black;
  border: 1px solid #d9c940;
  color: #d9c940;
}

.list-group-item:active {
  background-color: #d9c940;
}

.list-group-item:hover {
  background-color: #d9c940;
}

ul {
  background-color: black;
}

div.card-body {
  background-image: url('https://i.pinimg.com/originals/5c/03/da/5c03da8971db5da45a4d7be7a1db2c59.jpg');
}

.btn-outline-warning {
  color: #d9c940;
  border-color: #d9c940;
  margin-left: 30%;
}
