body {
  background-image: url('https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a8fcff3f457ee34c77fac59710270bc3&auto=format&fit=crop&w=1052&q=80');
  background-repeat: repeat;
  background-size: cover;
}

h1 {
  color: #d9c940;
  font-size: 50px;
  font-family: monospace;
  text-align: center;
  margin-top: 4%;
}

h2 {
  color: #d9c940;
  text-align: center;
}

a {
  color: #d9c940;
  text-align: center;
}

p {
  color: #d9c940;
  text-align: center;
}

form {
  width: 20%;
  margin-top: 5%;
  margin-left: 40%;
  margin-right: 60%;
  text-align: center;

}

label {
  color: #d9c940;
}
