<h2>Hi {{currentUser.firstName}}!</h2>

<p><a [routerLink]="['/login']">Logout</a></p>

<button type="button" [routerLink]="['/persons']" class="btn btn-outline-warning btn-lg btn-block">People</button>

<button type="button" [routerLink]="['/planets']" class="btn btn-outline-warning btn-lg btn-block">Planets</button>

<button type="button" [routerLink]="['/movies']" class="btn btn-outline-warning btn-lg btn-block">Movies</button>

<button type="button" [routerLink]="['/species']" class="btn btn-outline-warning btn-lg btn-block">Species</button>

<button type="button" [routerLink]="['/vehicles']" class="btn btn-outline-warning btn-lg btn-block">Vehicles</button>

<button type="button" [routerLink]="['/starships']" class="btn btn-outline-warning btn-lg btn-block">Starships</button>
